<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/base.css">
    <link rel="icon" href="Images/TTGL.png">
    <title>Books List</title>
</head>
<body>
    <header>
        <ul>
            <li> <a href="/">Home</a></li>
            <li> <a href="/search_book">Search Books</a></li>
        </ul>
    </header>
    <section id="addedBooks">
        <% booksArr.forEach(book=>{ %>
            <form  action="/add_book" method="post">
            <div>
                <!-- "https://i.imgur.com/J5LVHEL.jpg" -->
            <input type="hidden" name="image" value="<%= book.cover %>">
            <input type="hidden" name="title" value="<%= book.title %>">
            <input type="hidden" name="author" value="<%= book.author %>">
            <input type="hidden" name="isbn" value="<%= book.isbn %>">
            <input type="hidden" name="publishDate" value="<%= book.date %>">
            <input type="hidden" name="description" value="<%= book.description %>">

            <img src=<%= book.cover %> alt="book" >
            <h3>Title: <%= book.title %></h3>
            <p>Author: <%= book.author %></p>
            <p>ISBN: <%= book.isbn %></p>
            <p>Publish date: <%= book.date %></p>
            <p>Description:</p>
            <p id="descriptionBox"><%= book.description %></p>
            <button>Add this book</button>
        </div>
    </form>
        <% }) %>
    </section>
    
</body>
</html>
